/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  position: relative;
  line-height: 1.3;
}

.header{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  color: white;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
  margin-right: 40px;
  color: white;
}

.main-nav{
  width: 50%;
}

header i{
  margin-right: 20px;
}

h1{
  font-size: 30px;
}

header a,i{
  font-size: 18px;
}

.join-btn{
  color: white;
  background-color: rgb(206,55,50);
  padding: 15px;
  border-radius: 20px;
  margin-left: 10px;
}

.hero{
  background-image: linear-gradient(to right,rgba(52,116,193,0.7),rgba(134,236,139,0.7)),url(assets/home-bg.jpg);
  background-size: cover;
  height: 1000px;
  color: white;
}

h2{
  font-size: 60px;
  margin-bottom: 20px;
}

.justify-left{
  justify-content: flex-start;
}

.hero-btn{
  font-size: 20px;
  padding: 15px;
  background: none;
  color: white;
  border-radius: 20px;
  border-color: white;
  margin-right: 30px;
}

.intro img{
  width: 400px;
}

.align-start{
  align-items: flex-start;
}

.w-38{
  width: 38%;
}

.w-25{
  width: 25%;
}

.w-35{
  width:35%;
}

.w-30{
  width:30%;
}

.intro-content{
  margin-top: 80px;
}

.padding{
  padding-top: 80px;
}

h3{
  font-size: 30px;
}

.intro p{
  margin-bottom: 15px;
  line-height: 1.5;
  color: rgb(139,139,139);
}

.dot{
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: rgb(216,216,216);
  margin: 10px 0px;
}

.w-85{
  width: 85%;
}

.w-55{
  width: 55%;
}

.w-90{
  width: 90%;
}

.w-75{
  width: 75%;
}

.w-70{
  width: 70%;
}

.w-48{
  width: 48%;
}

.skills h5,span{
  font-size: 18px;
  font-weight: bold;
}

.skills hr{
  background: rgb(30,30,30);
  height: 3px;
  margin: 15px 0px 25px 0px;
}

.blog{
  background-color: rgb(239,239,239);
}

.text-align{
  text-align: center;
}

.space{
  padding: 70px 0px;
}


.blog img{
  width: 280px;
}


.card{
  background-color: white;
}

.card-content{
  padding: 0px 40px;
  box-sizing: border-box;
}

.card-content p{
  color:rgb(128,130,128);
}

h4{
  font-size: 22px;
  margin: 10px 0px;
}

.header i{
  color: white;
}

.date span,i{
  font-size: 16px;
  color: red;
}

.card-btn{
  padding: 15px 25px;
  background-color: rgb(239,239,239);
  color: rgb(86,86,86);
  border-radius: 20px;
  border: none;
  margin: 15px 0px;
}

.row{
  padding-top: 30px;
}

.gallery{
  padding-top: 20px;
}


.work img{
  width: 280px;
}

.contact{
  background: linear-gradient(to right bottom, rgb(17,118,229), rgb(124,240,100));
  color: white;
}

.contact iframe{
  border-radius: 50%;
}

input{
  height: 50px;
  width: 350px;
  margin: 0px 15px 15px 0px;
  padding: 0px 20px;
}

textarea{
  padding: 20px;
  box-sizing: border-box;
}

.msg-btn{
  display: block;
  color: white;
  padding: 18px 40px;
  background-color: rgb(206,55,50);
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 16px;
}

.contact-content{
  margin-top: 30px;
}

footer{
  background: linear-gradient(to right bottom, rgb(66,66,66), rgb(2,2,2));
  color: white;
}

footer h3{
  margin-bottom: 15px;
}

footer p, li{
  line-height: 1.5;
}

footer .space{
  padding: 40px 0px 70px 0px
}

footer i{
  color: white;
  margin-left: 30px;
}
